*{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-decoration: none;
}
.clear{
	clear: both;
}

body{
	background: #EFEFEF;
}
/**----------COMEÇO DO HEADER----------**/
header{
	height: 90px;
	margin: 0 auto;
	background: url(../images/bg_header.png) repeat;
}

#top{
	height: 90px;
	width: 960px;
	margin: 0 auto;
}

h1{
	height: 61px;
	width: 268px;
	float: left;
	margin: 13px 0 0 10px;
}

nav{
	float: right;
	margin-right: 10px;
}

nav ul {
	list-style-type: none;
}

nav li{
	float: left;
	display: inline;
	font: 14px Myriad Pro;
	font-weight: bold;
	text-shadow: 2px 2px #000;
}

.navSep{
	margin-top:28px;
}

nav li a{
	color: #fff;
	height: 80px;
	width: 90px;
	display: table;
	text-align: center;
	z-index: 99999;
	margin-top:0px;
	padding: 35px 0 0 0;
}

nav li a:hover{
	background: url(../images/nav.png) no-repeat;
}

.active{
	background: url(../images/nav.png) no-repeat;
}

/**----------FIM DO HEADER----------**/
.sep{
	height: 1px;
	background: url(../images/top_header.gif) center;
}
/**----------BANNER----------**/
#bg_banner{
	height: 410px;
	width: auto;
	background: url(../images/bg_banner.png);
}

h2{
	height: 410px;
	width: 960px;
	margin: 0 auto;
}

h2 img{
	margin: 13px 0 0 90px;
}

/**----------FIM DO BANNER----------**/
#bg_sec{
	height: 16px;
	width: auto;
	margin: auto;
	background: url(../images/bg_empresa.png);
}

#ligueMe{
	height: 133px;
	width: 940px;
	margin: -98px auto 0;
	background: url(../images/bg_ligueme.png);
}

#ligueMe p{
	height: 26px;
	width: 661px;
	display: table;
	text-align: center;
	font: 14px Verdana;
	color: #fff;
	float: left;
	padding: 32px 0 0 42px;
}

.ligueme a{
	color: #777;
}

.ligueme{
	height: 43px;
	width: 177px;
	margin: 19px 27px;
	float: right;
	box-shadow: 1px 1px #000;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font: 14px Tahoma;
	font-weight: bold;

	background: -webkit-linear-gradient(#FFFFFF, #E3E3E3); /* For Safari */
	background: -o-linear-gradient(#FFFFFF, #E3E3E3); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#FFFFFF, #E3E3E3); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#FFFFFF, #E3E3E3); /* Standard syntax */
}

.ligueme:hover{
	color: #B42C2F;

	background: -webkit-linear-gradient(#FFFFFF, #C7C7C7); /* For Safari */
	background: -o-linear-gradient(#FFFFFF, #C7C7C7); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#FFFFFF, #C7C7C7); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#FFFFFF, #C7C7C7); /* Standard syntax */
}
	
/**----------COMEÇO DO SECTION----------**/
section {
	height: 863px;
	width: auto;
	margin: -35px 0 0 0;
}

.custom-h1 {
	padding: 24px;
	width: 100%;
}

#empresa {
	height: 505px;
	width: 960px;
	margin: 0 auto;
}

#lgpd-container {
	width: 960px;
	margin: 0 auto;
}

.col{
	height: 331px;
	width: 220px;
	float: left;
        display: table;
        margin: 93px 10px;
	background: url(../images/bg_botaoEmpresa.png) no-repeat;
}

.col:hover{
	background: url(../images/bg_opEmpresa.png) no-repeat;
}

h3{
	padding: 15px 70px 0 70px;
}

.col p{
	font: 12px Tahoma;
	color: #545454;
	text-align: center;
	padding: 32px 15px 0 15px;
	line-height: 20px;
}

#nossosServicos {
	height: 342px;
	width: 960px;
	margin: 0 auto;
	background: url(../images/bg_servicos.png) no-repeat;
}

#nossosServicos ul {
	height: 236px;
	width: 220px;
	float: left;
	margin: 49px 10px 0 10px;
	background: url(../images/bg_menuEmpresa.png);
}

#nossosServicos ul li{
	margin: 0 10px 1px 10px;
	width: 180px;
	display: table;
	padding: 15px 30px 15px 10px;
	font: 14px Myriad Pro;
	font-weight: bold;
	cursor: pointer;
}

#nossosServicos ul li:hover{
	font-color: #fff;
	background: url(../images/botao_servicos.png) no-repeat;
}

.p11{
	color: #fff;
	background: url(../images/botao_servicos.png) no-repeat;
}

.p22, .p33, .p44, .p55{
	color: #262626;
}

.p22:hover, .p33:hover, .p44:hover, .p55:hover{
	color: #FFF;
}

#nossosServicos p{
	height: 237px;
	width: 700px;
	float: left;
	margin: 65px 10px 0 10px;
	font: 12px Tahoma;
	color: #545454;
	text-align: left;
	line-height: 25px;
}



/**----------FIM DO SECTION----------**/
#contato {
	height: 133px;
	width: 940px;
	margin: auto;
	background: url(../images/bg_contato.png) no-repeat;
	position: relative;
	z-index: 10;
}

#contato p{
	height: 26px;
	width: auto;
	font: 18px Verdana;
	color: #fff;
	float: left;
	padding: 34px 0 0 70px;
}

#contato ul{
	float: right;
	text-align: right;
	padding: 15px 80px 0 0;
}

#contato li{
	font: 16px Myriad Pro;
	color: #fff;
}

#bg_form{
	height: 319px;
	width: auto;
	margin: -51px 0 0 0;
	background: url(../images/bg_form.png);
}

#form {
	height: 319px;
	width: 960px;
	margin: 0 auto;
	
}

form {
	height: 206px;
	width: 720px;
	float: left;
	margin: 56px 10px 57px 10px;
	background: url(../images/bg_form2.png) no-repeat;
}

form input{
	height: 38px;
	width: 185px;
	float: left;
	margin: 33px 10px 0 44px;
	border: none;
	background: #EFEFEF;
}

.textarea{
	height: 89px;
	width: 585px;
	margin: 46px 10px 0 44px;
	float: left;
	border: none;
	background: #EFEFEF;
}

.enviar {
	height: 60px;
	width: 60px;
	margin: 60px 10px 0 10px;
	float: left;
	border-radius: 50px;
	border: none;
	box-shadow: none;
	font: 16px Myriad Pro;
	font-weight: bold;
	color: #fff;
	cursor: pointer;

	background: -webkit-radial-gradient(#FF0000, #AF0C18); /* Safari */
	background: -o-radial-gradient(#FF0000, #AF0C18); /* For Opera 11.1 to 12.0 */
	background: -moz-radial-gradient(#FF0000, #AF0C18); /* For Firefox 3.6 to 15 */
	background: radial-gradient(#FF0000, #AF0C18); /* Standard syntax */
}

.enviar:hover{
	color: #000;
	background: -webkit-radial-gradient(#FF0000, #830A13); /* Safari */
	background: -o-radial-gradient(#FF0000, #830A13); /* For Opera 11.1 to 12.0 */
	background: -moz-radial-gradient(#FF0000, #830A13); /* For Firefox 3.6 to 15 */
	background: radial-gradient(#FF0000, #830A13); /* Standard syntax */
} 


#form ul {
	height: 108px;
	width: 160px;
	float: right;
	margin: 110px 10px 0 10px;
}

#form ul li {
	height: 20px;
	width: 160px;
	margin: 0px 0 20px 0;
	font: 24px Myriad Pro;
	font-weight: bold;
	color: #fff;
	text-align: right;
}


.voltarTopo {
    background: url(../images/botao_topo.png) no-repeat !important;
    bottom: 10px !important;
    color: #FFFFFF;
    display: block;
    height: 25px;
    position: fixed;
    right: 30px;
    width: 53px;
    border: none;
    cursor: pointer;
}



/**----------COMEÇO DO FOOTER----------**/
footer {
	height: 53px;
	width: auto;
	margin: 0 auto;
	background: url(../images/bg_footer.png);
}

#foot {
	height: 53px;
	width: 960px;
	margin: 0 auto;
}

.copyright {
	font: 14px Myriad Pro;
	color: #CCCCCC;
	float: left;
	padding: 18px 0 0 0;
}

.face{
	float: left;
	padding: 15px 0 0 20px;
}

.logo_wf {
	width: 100px;
	padding: 15px 0 0 840px;
}
/**----------FIM DO FOOTER----------**/

.lgpd-box {
  width: 100%;
  display: block;
  background-color: #000000d1;
  position: fixed;
  z-index: 99999999;
  bottom: 0px;
  padding: 30px 0;
}
.lgpd-box .button {
  color: #fff;
  border-color: #fff;
  border: 1px solid white;
  padding: 15px 30px;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.2s;
}
.lgpd-box .button:hover {
  color: #fff;
  border-color: #fff;
  background-color: #000000;
}
.lgpd-box a {
  font-size: 16px;
  color: white;
  font-weight: 600;
  text-decoration: underline;
  margin: 0px !important;
}
.lgpd-p {
  color: #fff !important;
}